
<div class="container">
  <div class="banner3">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 md-6">
        <div class="card2" style="width: 50rem;">
          <div class="search-form box-shadow p-4">

            <div class="text-center">
              <h2>Create an organisation</h2>
            </div>

            <%= simple_form_for (@organisation) do |f| %>
              <%= f.input :name %>
              <%= f.input :location %>
              <%= f.input :photos, as: :file, :multiple => true%>
              <%= f.submit "Create", class: "btn btn-danger btn-lg btn-block"%>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
