<div class="container">
  <div class="row justify content-center">
    <div class="col-6 col-lg-6 my-4 p-1">
      <div class="card" style="width: 28rem;, height: 28rem;">
        <div class="text-center">
  <div class="card-body">
    <div class="text-center">
     <h1>Your Organisation</h1>
    </div>

  <h1><%= @organisation.name%></h1>
  <% if @organisation.photo.attached?%>
    <%= cl_image_tag @organisation.photo.key, height: 300, width: 400, crop: :fill%>
  <%end%>

  <%if @organisation.experiences.any? && @organisation.experiences.each do |experience|%>
       <%experience.reviews.any?%>
    <%end%>

    <%rating = 0%>
    <%count = 0%>
    <%@organisation.experiences.each do |experience|%>
      <% experience.reviews.each do |review|%>
        <%count += 1%>
        <% rating +=review.rating%>
        <%end%>
    <%end%>
    <%rating /= count%>
    <%rating.times do %>
      <i class="fas fa-star"></i>
    <%end%>(<%=count%> reviews)
  <%end%>
  <ul>
    <% @organisation.experiences.each do |experience|%>
      <li><%= link_to experience.name, experience_path(experience)%></li>
    <%end%>
  </ul>
</div>

<% if current_user && current_user.id == @organisation.user.id %>
  <div>
    <%= link_to 'Create an Experience', new_organisation_experience_path(@organisation), :class => "btn btn-primary"%>
  </div>
  <br>
  <div>
    <%= link_to 'Edit organisation', edit_organisation_path(@organisation), :class => "btn btn-primary"%>
  </div>
  <br>
  <div>
    <%= link_to 'Delete organisation', organisation_path(@organisation), method: :delete, :class => "btn btn-primary"%>
  </div>
<%end%>
