<h1><%= @organisation.name%></h1>
<ul>
  <% @organisation.experiences.each do |experience|%>
  <li><%= link_to experience.name, experience_path(experience)%></li>
  <%end%>
</ul>
<% if current_user.id == @organisation.user.id %>
<%= link_to 'Create an Experience', new_organisation_experience_path(@organisation)%>
  <br>
  <%= link_to 'edit organisation', edit_organisation_path(@organisation)%>
  <br>
  <%= link_to 'delete organisation', organisation_path(@organisation), method: :delete%>
<%end%>
