<div class="container">
  <div class="row justify content-center">
    <div class="col-6 col-lg-6 my-4 p-1">
      <div class="card" style="width: 28rem;, height: 28rem;">
        <div class="text-center">
  <div class="card-body">
    <div class="text-center">
<h1>Your Organisation</h1>
</div>

<h1><%= @organisation.name%></h1>
<% if @organisation.photo.attached?%>
  <%= cl_image_tag @organsation.photo.key, height: 300, width: 400, crop: :fill%>
 <%end%>
<ul>
  <% @organisation.experiences.each do |experience|%>
  <li><%= link_to experience.name, experience_path(experience)%></li>
  <%end%>
</div>
</ul>
<% if current_user && current_user.id == @organisation.user.id %>
<div>
<%= link_to 'Create an Experience', new_organisation_experience_path(@organisation), :class => "btn btn-primary"%>
</div>
<br>
<div>
  <%= link_to 'Edit organisation', edit_organisation_path(@organisation), :class => "btn btn-primary"%>
</div>
<br>
<div>
  <%= link_to 'Delete organisation', organisation_path(@organisation), method: :delete, :class => "btn btn-primary"%>
</div>
<%end%>
