<%  if user_signed_in?%>
  <nav class="navbar navbar-expand-lg nav-links-white navbar-bg">
    <di class = "d-flex flex-row justify-content-between nav-items">
      <div class = "d-flex flex-row">
        <%= link_to 'Budgety', root_path, class: "navbar-brand" %>
        <form class="nav-form form-inline my-2 my-lg-0">
          <div class="input-location-icon ">
            <i class="fas fa-map-marker-alt"></i>
            <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
          </div>
          <input class="form-control mr-sm-2" type="search" placeholder="Set your budget" aria-label="Search">
          <button class="pound-btn my-2 my-sm-0" type="submit"><i class="fas fa-pound-sign"></i></button>
        </form>
      </div>
      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <div  class= "nav-avatar">
              <li class="nav-item dropdown">
                <% if current_user.photo.attached?%>
                  <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= cl_image_tag(current_user.photo.key, class: 'avatar-large')%>
                  </a>
              <%else%>
                  <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-alt avatar-size"></i>
                  </a>
                <%end%>
                <div class="dropdown-menu nav-links-drk" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'Account', root_path, class: "dropdown-item" %>
                  <%= link_to 'Bookings', orders_path, class: "dropdown-item" %>
                  <%if current_user.organisations.empty?%>
                  <%= link_to 'Listings', new_organisation_path, class: "dropdown-item" %>
                  <% else %>
                  <%= link_to 'Listings', organisations_path, class: "dropdown-item" %>
                  <%end%>
                  <%= link_to 'Sign-out', destroy_user_session_path, method: :delete, class: "dropdown-item"%>
                </div>
              </li>
            </div>
            <div>
              <li class="nav-item">
                <a class="nav-link" href="#">Host <span class="sr-only">(current)</span></a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </di>
  </nav>
<%else %>
  <nav class="navbar navbar-expand-lg nav-links-white navbar-bg">
      <di class = "d-flex flex-row justify-content-between nav-items">
        <div class = "d-flex flex-row">
          <%= link_to 'Budgety', root_path, class: "navbar-brand" %>
          <form class="nav-form form-inline my-2 my-lg-0">
            <div class="input-location-icon ">
              <i class="fas fa-map-marker-alt"></i>
              <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Set your budget" aria-label="Search">
            <button class="pound-btn  my-2 my-sm-0" type="submit"><i class="fas fa-wallet"></i></button>
          </form>
        </div>
        <div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <div  class= "nav-avatar">
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-alt avatar-size"></i>
                  </a>
                  <div class="dropdown-menu nav-links-drk" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'Sign-in', user_session_path, class: "dropdown-item" %>
                    <%= link_to 'Sign-up', new_user_registration_path, class: "dropdown-item" %>
                  </div>
                </li>
              </div>
              <div>
                <li class="nav-item">
                  <a class="nav-link" href="#">Host <span class="sr-only">(current)</span></a>
                </li>
              </div>
            </ul>
          </div>
        </div>
     </di>
  </nav>
<%end%>



