<div class="subnavbar-wrapper">
    <div class="d-flex flex-row nav-items-container">
    <p><%= link_to "Arts, Theatre & Shows", root_path%></p>
    <p><%= link_to "Comedy", root_path%></p>
    <p><%= link_to "Food & Drink", root_path%></p>
    <p><%= link_to "Beauty & Spa", root_path%></p>
    <p><%= link_to "Health & Fitness", root_path%></p>
    <p><%= link_to "Music Events", root_path%></p>
    <p><%= link_to "More", root_path%></p>
  </div>
</div>
