<div class="subnavbar-wrapper">
    <div class="d-flex flex-row nav-items-container">
    <p><%= link_to "Arts, Theatre & Shows", experiences_path(category: "Arts, Theatre & Shows")%></p>
    <p><%= link_to "Comedy", experiences_path(category: "Comedy")%></p>
    <p><%= link_to "Food & Drink", experiences_path(category: "Food & Drink")%></p>
    <p><%= link_to "Beauty & Spa", experiences_path(category: "Beauty & Spa")%></p>
    <p><%= link_to "Health & Fitness", experiences_path(category: "Health & Fitness")%></p>
    <p><%= link_to "Music Events", experiences_path(category: "Music Events")%></p>
    <p><%= link_to "Gift Ideas", experiences_path(category: "Gift Ideas")%></p>
  </div>
</div>
