<div class="container">
  <div class="row py-4">
    <div class="col">
     <small><span class="badge badge-primary"><h5><%= @order.state %></h4></span></small>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date.strftime('%d-%m-%Y') %></li>
        <li><strong>EXPERIENCE</strong> <%= @order.experience.name %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
       <div class="col-md-3"><%= cl_image_tag @order.experience.photos.first.key, width: '100%' %></div>
    </div>
  </div>
</div>
