<!-- the list of experiences -->
<div class="category-container">
    <div class="d-flex flex-row justify-content-center">

      <div class="category">
        <h1>Food & Drinks </h1>
        <%= link_to experiences_path(category: "Food & Drink") do%>
         <%= image_tag 'foodanddrink.jpg'%>
         <%end%>
      </div>

      <div class="category">
        <h1>Beauy & Spa</h1>
        <%= link_to experiences_path(category: "Beauy & Spa") do%>
         <%= image_tag 'beautyandspa.jpg'%>
         <%end%>
      </div>

      <div class="category">
        <h1>Gigs</h1>
        <%= link_to experiences_path(category: "Music Events") do%>
         <%= image_tag 'gigs.jpg'%>
         <%end%>
      </div>

      <div class="category">
        <h1>Classes</h1>
        <%= link_to experiences_path(category: "Classes") do%>
         <%= image_tag 'courses.jpg'%>
         <%end%>
      </div>

      <div class="category">
        <h1>Comedy</h1>
        <%= link_to experiences_path(category: "Comedy") do%>
         <%= image_tag 'comedy.jpg'%>
         <%end%>
      </div>

       <div class="category">
        <h1>Arts, Theatre & Shows</h1>
        <%= link_to experiences_path(category: "Arts, Theatre & Shows") do%>
         <%= image_tag 'theatre.jpg'%>
         <%end%>
      </div>

</div>

<h1 class="heading">Featured experiences near you</h1>


<% if @experiences %>
  <div class= "cards-container d-flex flex-row  flex-wrap">
    <% @experiences.each do |experience| %>
      <%= link_to experience_path(experience) do %>
        <div class= "card-experience">
          <%if experience.photos.attached?%>
            <%= cl_image_tag(experience.photos.first.key)%>
          <%else%>
            <%= image_tag 'default-image.png'%>
          <%end%>
          <div>
            <h2 class="text-capitalize"><%= link_to experience.name, experience_path(experience) %></h2>
            <% if experience.organisation.experiences.any?%>
            <%averagerating = 0%>
            <%counter = 0%>
            <%experience.organisation.experiences.each do |experience|%>
             <%experience.reviews.each do |review|%>
              <%counter += 1%>
              <%averagerating += review.rating%>
            <%end%>
          <%end%>
          <% rating = averagerating / counter %>
          <p><%rating.times do %>
              <i class="fas fa-star-of-life"></i>
            <%end%>(<%= counter%>)
          </p>
          <%end%>

            <p><%=experience.date.strftime("%a %d %b") %>, <%= experience.start_time.strftime('%H:%M%p')%></p>
            <p><i class="fas fa-map-marker-alt text-danger icon"></i><%= experience.venue_name %>, <%= experience.location.split(",").first %></p>
            <p>Host: <%= link_to experience.organisation.name, organisation_path(experience.organisation) %></p>
          <p class="card-price"><%= humanized_money_with_symbol(experience.price) %></p>
          </div>
          <div class= "category-card">
            <%= experience.category %>
          </div>
        </div>
      <%end%>
    <%end%>


  </div>
<%end%>
