<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 my-3">
      <div class="card" style="width: 28rem;">
        <div class="search-form box-shadow p-4">
          <div class="text-center">
            <h1>Create an experience</h1>
          </div>
<%= simple_form_for [@organisation, @experience] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :location%>
  <%= f.input :date %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :category, collection: @categories %>
  <%= f.input :price %>
   <%= f.input :photos, as: :file, :multiple => true%>
  <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block"%>
<% end %>
</div>
</div>
</div>
</div>
