<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 my-3">
      <div class="card" style="width: 28rem;">
        <div class="search-form box-shadow p-4">
          <div class="text-center">
            <h1>Create an experience</h1>
          </div>
<%= simple_form_for [@organisation, @experience] do |f| %>
  <%= f.input :name, label: false, placeholder: "Name", input_html: { class: "form-control", required: true , oninvalid: "this.setCustomValidity('Please enter name')"} %>
  <%= f.input :description,label: false, placeholder: "Description", input_html: { class: "form-control", required: true , oninvalid: "this.setCustomValidity('Please enter a description')"}  %>
  <%= f.input :location,label: false, placeholder: "Location", input_html: { class: "form-control", required: true , oninvalid: "this.setCustomValidity('Please enter a location)"} %>
  <%= f.input :date,input_html: { class: "form-control", required: true , oninvalid: "this.setCustomValidity('Please select a date')"} %>
  <%= f.input :start_time, input_html: { class: "form-control", required: true , oninvalid: "this.setCustomValidity('Please select a time')"} %>
  <%= f.input :end_time, input_html: { class: "form-control", required: true , oninvalid: "this.setCustomValidity('Please select a time')"} %>
  <%= f.input :category, input_html: { class: "form-control", required: true , oninvalid: "this.setCustomValidity('Select a category)"}, collection: @categories %>
  <%= f.input :price, label: "Price (PP)"%>
  <%= f.input :photos, as: :file, :multiple => true%>
  <%= f.submit "Host", class: "btn btn-primary btn-lg btn-block"%>
<% end %>
</div>
</div>
</div>
</div>


