<h1><%= @experience.name%></h1>
<h3><%= @experience.date.strftime("%d-%m-%Y") %></h3>
<%= form_tag orders_path do %>
  <%= hidden_field_tag 'experience_id', @experience.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
<p>Host: <%= link_to @organisation.name, organisation_path(@organisation)%></p>
<% if current_user.id == @organisation.user.id %>
  <%= link_to 'delete', organisation_experience_path(@organisation), method: :delete%>
  <%= link_to 'edit', edit_organisation_experience_path(@organisation)%>
<%end%>
