<div class="d-flex align-items-start">
    <div class="col-md-6 col-lg-8">
      <div class="card-experience-show">

        <div class="box1">

          <% @experience.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "card-experience-show-photo"%>
          <%end%>

          <div class="card-experience-show-actions">
            <p>Host: <%= link_to @organisation.name, organisation_path(@organisation)%></p>
            <% if current_user && current_user.id == @organisation.user.id %>
              <%= link_to 'Delete', organisation_experience_path(@organisation), method: :delete, :class => "btn btn-secondary"%>
              <%= link_to 'Edit', edit_organisation_experience_path(@organisation), :class => "btn btn-secondary"%>
            <%else%>
              <%= form_tag orders_path do |f| %>
              <%= hidden_field_tag 'experience_id', @experience.id %>
                <%= select_tag :quantity, options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]) %>
                <%= submit_tag humanized_money_with_symbol(@experience.price), class: 'btn btn-danger card-experience-show-price'%>
              <% end %>
            <% end %>
          </div>

        </div>

        <div class="box2">

          <div class= "card-experience-category">
            <%= @experience.category %>
          </div>
          <h1 class="card-experience-show-title"><%= @experience.name%></h2>
          <div class="card-experience-show-info">

            <p><i class="far fa-calendar-alt text-danger icon"></i> <%= @experience.date.strftime('%a %d %b') %></p>
            <div class="experience-time">
              <p> <i class="fas fa-hourglass-start text-danger icon"></i><%= @experience.start_time.strftime('%H:%M') %></p>
              <p> - <%= @experience.end_time.strftime('%H:%M') %></p>
            </div>
            <div class="experience-location">
              <p><i class="fas fa-map-marker-alt text-danger icon"></i> Venue: <%= @experience.venue_name%>, </p>
              <p> <%= @experience.location%> </p>

            </div>
            <p><%= @experience.description%></p>
          </div>
        </div>



      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div
        id="map"
        style="height: 80vh;
        position: sticky;
        top: 0;
        width: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

  </div>
</div>
