<h1><%= @experience.name%></h1>
<h3><%= @experience.date.strftime("%Y--------%d") %></h3>

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'experience_id', @experience.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
