<div class="container">
  <div class="banner5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 md-6">
        <div class="card2" style="width: 50rem;">
          <div class="search-form box-shadow p-4">

            <div class="text-center">
              <h2> Leave a review here: </h2>
            </div>


            <%= simple_form_for [@order, @review] do |f| %>
              <%= f.input :title %>
              <%= f.input :content %>
              <%= f.input :rating, label: 'Star ratings', collection: [1, 2, 3, 4, 5] %>
              <%= f.submit "Add a review", class: "btn btn-primary btn-lg btn-block" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
